@import "compass";
@import url(https://fonts.googleapis.com/css?family=Abel);
// font-family
$baseFontFamily :"游ゴシック", YuGothic, "メイリオ",Verdana, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;

// colors
$baseColor: #FEEEED;
$subColor:  #FFFFFF;
$keyColor:  #F9C1CF;
$fontColor: #4c4c4c;


/* Base
------------------------------------------------------------*/
html{ font-size: 70%; }

body {
    color: $fontColor;
  font-size: 1.4em;
  font-family:$baseFontFamily;
  line-height:1.6;
  letter-spacing:0.1em; 
}

.top-wrapper {
    background-image: url("../images/awaisakuratoaozora.jpg");
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 500px;
    
}

@media screen and ( max-width:768px ) {
    .top-wrapper {
    background-image: url("../images/awaisakuratoaozora.jpg");
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 250px;

    }
}
#spot {
  margin-bottom: 25px;
  overflow: hidden;
  background-color: $baseColor;
  height: 100%;
  padding: 40px 0;
  }
  
.headline {
  text-align: center;
  font-size: 3.5rem;
  font-weight: bold;
  margin: 10px auto 50px auto;
  display: block;
}

@media screen and ( max-width:768px )
{
.headline span {
    display: block;
}
}



@media screen and (max-width:768px)
{
    .headline {
    font-size: 3rem;
    }
}

.container-box {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-flex: 1;
            flex: 1;
    margin: 0px 10px;
    width: 100%;
    background: $subColor;
    
    
}

@media screen and (max-width:768px)
{
    .container-box{
        display: inline-block;
        height: 100%;
        margin: 20px;
        width: 80%;
        background: $subColor;
        float: center;

        
    }
}

.spot-list {
    font-weight: bold;
    font-size: 2.5rem;
    padding: 10px 0 20px 0;
    background-color: $keyColor;
    width: 100%;
    height: 60px;
    margin: 0;
    text-align: center;
    display: flex;
    align-items: center;
	justify-content: center;
}

.container {
    display: -webkit-flex;
    display:         flex;

    justify-content: space-between;
}

@media screen and (max-width:768px)
{
    .container {
        text-align: center;
        display: block;
        .container-box {
            margin: 15px 0;
        }
        
    }
}

.topics {
    text-center: left;
}



.place {
    font-weight: bold;
    padding: 20px 0 10px 0;
    text-align: center;
    list-style: inside;
}

.goodpoints {
    
    padding: 0 15px 10px 15px ;
    
    
}

@media screen and (max-width:768px)
{
     .goodpoints {
         text-align: left;
     }
    
}


/* Layout
------------------------------------------------------------*/
#information {
    text-align: center;
    height: 200px;
    background: $subColor;
}

.heading h2 {
    padding: 50px 0 18px 0;
}


.message {
    background-color: $baseColor;
    padding: 10px 25px;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 0 6px $keyColor;
    &:active {
        position: relative;
        top: 4px;
        box-shadow: none;
    }
    
}


